.poligono {
    position:absolute;
    top: 0;
    left: 0;
    background: orange;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    /* border: solid 1px black; */
    /* height: 10%; */
    clip-path: polygon(0% 0%,100% 0%,100% 80%,50% 100%,0% 80%);
}